---
---

@import "{{ site.theme }}";

header {
    background: #96B043;
}

header h2 {
    color: #e2ebc9;
}

header h1 {
    font-size: 60px;
}

a {
    color: #96B043;
}

a:hover {
    color: #65810f;
}

#main-content h1:before {
    color: #d3e1ad;
}

#main-content h2:before {
    color: #d3e1ad;
}

#main-content h3:before {
    color: #d3e1ad;
}

#main-content h4:before {
    color: #d3e1ad;
}

#main-content h5:before {
    color: #d3e1ad;
}

#main-content h6:before {
    color: #d3e1ad;
}